
<!DOCTYPE html>
<html>
  <head>
    <title>Rails Pizza App</title>
  </head>
  <body>

  <div id="app">
  </div>
  <%= yield %>
    <%= javascript_pack_tag 'application', defer: true%>
  </body>
</html>
